
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.logo{
    text-decoration: none;
    color: black;
    max-width: 15%;

    font-size: 1.3rem;
    margin-right:30%;
  }

.logo img {
    max-width: 45%;
}
.logo p{
    font-weight: 1000;
}
.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 120px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background: #fff;
    background-color: #F4FFFF;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
header ul li a:hover{
    color: blue;
    transition: .0.5s;
}

.login a {
    display: inline-block;
    /* margin-top: 20px; */
    padding: 8px 20px;
    background:#0078D3;
    color: #FFF;
    border-radius: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
}
.login a:hover{
    background-color:#00518F;

}
.content {
    position: relative;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: left;
    display: flex;
}

.content .box{
    position: relative;
    max-width: 600px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 50%;
    padding-right: 5%;
}

.content .box h2{
    color: black;
    font-size: 2.5rem;
    line-height: 1.2em;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 130px;

}

.content .box h2 span {
    color: #119cc7;
    font-size: 3 rem;
    font-weight: 600;
    /* font-style: italic; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.content .box p{
    margin-top: 30px;
    color: #757272;
    line-height: 1.3em;
}
.content .box .b1{
    background-color: #F4FFFF;
    margin-top: 20px;
    border-color: #0078D3;
    height: 40px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;
 color: #0078D3;
}
.content .box .b1:hover{
    color: #FFF;
    background-color: #0078D3;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;

}
.content .box .b2{
    margin-left: 15px;
    background-color: #0078D3;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;
 border-color: #0078D3;
 color: #FFF;
}
.content .box .b2:hover{
    background-color: #F4FFFF;
    margin-top: 20px;
    border-color: #0078D3;
    height: 40px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;
color:#0078D3;
border-color: #0078D3;

}
.content .box .b1 span{
    display: inline-block;

    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .box .b2 span{
    display: inline-block;

    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
}


.content .image {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .image img {
    max-width: 440px;
}

/* .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(17, 141, 141);
    clip-path: circle(600px at right 800px);
} */
.company {
    margin-top: 40px;
    text-align: right;
    font-weight: 500;
}

@media(max-width: 700px) {
    .content .box h2{
        font-size: 1rem;
    }
    .header ul li{
        display: block;
    }
    .header ul {
        position: absolute;
        background: #ffe926;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/* end header */

.info{
    background-color: #E0EFFA;
    width: 100%;
    height: 10%;
    padding: 100px 120px;
}
.info ul{
    /* position: relative; */
    display: flex;
    align-items: center;
}

.info ul li{
    list-style: none;
    align-items: center;
    text-align: center;
    color:#434343
}

.info ul li {
    display: inline-block;
    color: #333;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    width: 33.33%;

}
.info img{
  margin-bottom: 10%;
    width: 200px;

}
.info p{
    margin-top: 10%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    color: #716D6D;
    font-weight: 500;
}

/* end of info1 */

.info2{
    background: url('../../assets/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 900px;

}
.layer {
    background-color: rgba(47, 74, 97, 0.7);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 120px;
}
.title{
    text-align: center;
    padding-top: 5%;
}
.title h1{
    /* border-style: dashed; */
    border-style: solid;
    border:10px 10px 10px 10px;
    border-color: white;
    margin: 0% 15%;
    color: white;
    font-size:xx-large;
    padding: 2.5% 5%;
    border-width: 8px;
    border-radius: 15px;
}
.title span{
    color: #0078D3;
}
.title hr{
    margin: 3% 20% 3% 20%;
    height: 10%;
}
.point1{
display: flex;
width: 60%;
color: white;
border-radius: 50px;
background-color: rgba(95, 135, 170, 0.7);
transition: transform 0.5s ease;

}
.point1:hover {
       transform: scale(1.1);
}
.point1 p{
    padding: 7%;
}
.point1 img{
    padding: 7% 5%
}
.point2{
    display: flex;
    width: 60%;
    color: white;
    border-radius: 50px;
    background-color: rgba(95, 135, 170, 0.7);
    margin: 5% 40%;
    transition: transform 0.5s ease;

    }
    .point2 p{
        padding: 7%;
    }
    .point2 img{
        padding: 7% 4%
    }
    .point2:hover {
        transform: scale(1.1);
    }
.join{
    /* width: 100px;
        height: 100px; */
        background-color: blue;
        transition: transform 0.5s ease;
    height: 500px;
    padding: 8% 8%;
    background:url("../../assets/back.jpg");
    background-position: 180%;
    background-repeat: no-repeat;
}

.join h2{
padding-right: 40%;
opacity: 1;
    transition: opacity 0.5s ease;
}

.join h3{
    margin-top:8%;
    padding-left:40%;
}
.join button{
    margin-left: 15px;
    background-color: #0078D3;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;
 border: 0px;
 color:white;
}
.join a{
    display: inline-block;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
}
.donation{
    background: url("../../assets/mri.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
    color: white;
    font-size: x-large;
    width: 100%;
}
.layer2{
    background-color: rgba(0, 0, 0, 0.7);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 120px;
}
.donation button{
    color: white;
 background:none;
    margin-top: 40px;
    border-color: #00518F;
    border-width: 5px;
    height: 50px;
    width: 140px;
    border-radius: 6px;
 padding-left:21px;
 padding-right: 21px;
 margin-left: 75%;
 box-shadow: none;
 font-weight:normal;
 letter-spacing: 1px;
font-size: large;
}
.donation h1{
    padding-left: 10%;
    padding-top: 7%;
    margin-right: 30%;
}
.donation button:hover{

    background-color: #00518F;

    border-radius: 6px;
 border: 0px;
 color:white;
}
.footer{
    padding: 100px 120px 0px 120px;
    background-color: #3c97d8;
    width: 100%;
    height: 10%;
}
.footer img {
    max-width: 7%;
    cursor: pointer;
}
.footer ul{
margin-top: 7%;
line-height:250%;
        /* position: relative; */
        display: flex;
        align-items: center;

        color: #534D4D;
}
.footer ul li{
    list-style: none;
    align-items: left;
    text-align: left;
    color:#434343
}

.footer ul li {
    display: inline-block;
    color: #333;
    margin-right: 20%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    width: 33.33%;
}
.footer ul li a{
    text-decoration: none;
    color: #534D4D;
}
.copy{
    display: flex;
}
.copy p{
    margin-top:10%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
}
.pic1{
    width: 100%;
margin-bottom: 10%;
height: 35%;
}
.pic2{
    width:100%;
    height:55%;

}
.pic3{
    width:100%;
    height:55%;
}
.pic4{

    width: 100%;
margin-top: 10%;
height: 35%;
}
.ryt{
    width: 50%;
    display:flex;
    align-items: right;
}
.ryt img{
    border-radius: 10%;
}
.part1{
    /* margin-left:5% ;
    height: 100%; */
    display:flex;
    flex-direction: column;
    margin-right: 2%;
width: 45%;
}
.part2{
    /* margin-left:5% ;
    height: 100%; */
    display:flex;
    flex-direction: column;
    margin-left: 2%;
    width: 45%;
}
