/* @tailwind base; */
/* @import "tailwindcss/base"; */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #F4FFFF;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
